---
layout: default.njk
title: About
articleTitle: "Hi There!"
permalink: /about/
---

<p>
  I'm Mustafa. I'm a .NET developer.
</p>

<p>
  Originally from Istanbul, I now live in London, UK.
</p>

<p>
  I started this website to host <a href="/projects/navsim/">NavSim 6000</a>.
</p>

<section class="article__section section">
  <h3 class="section__title">Get In Touch</h3>

  <p><a href="https://twitter.com/colormemoss">Twitter</a></p>
  <p><a href="https://uk.linkedin.com/pub/mustafa-selcuk-oral/5a/352/572">LinkedIn</a></p>
  <p><a href="https://github.com/mustafaoral">GitHub</a></p>
</section>
