{% extends "layout.njk" %}

{% block main %}
<article class="article">
  <h2 class="article__title">
    {% if articleTitle %}
    {{ articleTitle | safe }}
    {% else %}
    {{ title | safe }}
    {% endif %}
  </h2>

  {{ content | safe }}
</article>
{% endblock %}
