<header class="page__header header">
  <nav class="header__nav">
    <span class="header__navItem"><a href="/">Home</a></span>
    <span class="header__navItem"><a href="/projects">Projects</a></span>
    <span class="header__navItem"><a href="/posts">Posts</a></span>
    <span class="header__navItem"><a href="/photography">Photography</a></span>
    <span class="header__navItem"><a href="/about">About</a></span>
  </nav>
</header>
