.userWind__value {
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Inconsolata';
    text-align: center;
    user-select: none;
}
