---
layout: default.njk
title: Photography
permalink: /photography/
---

<p>I've had an interest in photography since my teenage years. During highschool, I shot a number of rolls using a <a href="https://en.wikipedia.org/wiki/Pentax_MX">Pentax MX</a>. In 2008, I bought a Nikon D300 and started taking photography more seriously.</p>

<p>Sadly, my D300 has been out of order for a number of years (the mechanism which drives the aperture is broken, something that doesn't make economic sense to have repaired) and I haven't had any practice since.</p>

<h2>Equipment</h2>

<ul>
  <li>Nikon D300</li>
  <li>Nikon 24-70mm f/2.8</li>
  <li>Tokina 11-16mm f/2.8</li>
  <li>Pentax 50mm f/1.7</li>
  <li>Nikon SB-25</li>
  <li>Yongnuo RF-602</li>
  <li>Nikon PB-5</li>
</ul>

<h2>Browse by tag</h2>

<p>
{% photoTags photography.tags %}
</p>
