.screw {
    width: 20px;
    height: 20px;
}

.screw_position_topLeft {
    transform: translate(30px, 30px);
}

.screw_position_topRight {
    transform: translate(190px, 30px);
}

.screw_position_bottomRight {
    transform: translate(190px, 190px);
}

.screw_position_bottomLeft {
    transform: translate(30px, 190px);
}
