.screw {
    width: 30px;
    height: 30px;
}

.screw_position_topLeft {
    transform: translate(25px, 25px);
}

.screw_position_topRight {
    transform: translate(185px, 25px);
}

.screw_position_bottomRight {
    transform: translate(185px, 185px);
}

.screw_position_bottomLeft {
    transform: translate(25px, 185px);
}
