---
layout: default.njk
title: Home
articleTitle: "Hi!"
permalink: /
---

<p>
  Welcome to my humble abode on the intertubes.
</p>

<p>
  Have a look at my <a href="projects/">projects</a>, or my <a href="photography/">photograpy</a>.
</p>
