---
layout: layout.njk
title: Home
permalink: /index.html
---

<article class="article">
  <h2 class="article__title">Hi!</h2>

  <p>
    Welcome to my humble abode on the intertubes.
  </p>

  <p>
    You probably want to go <a href="projects/navsim">Navsim 6000</a>, since there's nothing else to see for the time being.
  </p>
</article>
