---
layout: layout.njk
title: Projects
permalink: /projects/index.html
---

<article class="article">
  <h2 class="article__title">Projects</h2>

  <p>Here's a list of stuff I've done.</p>

  <p><a href="/projects/navsim">NavSim 6000</a></p>
</article>
