.instrumentRmiSelector__handle {
    width: 42px;
    height: 24px;
    cursor: pointer;
}

.instrumentRmiSelector__handle_left {
    top: 18px;
    left: 17px;
}
.instrumentRmiSelector__handle_right {
    top: 18px;
    right: 17px;
}
